<%- include("./partials/headerin.ejs") -%>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load("current", {packages:["corechart"]});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Task', 'Hours per Day'],
      ['Balance',      <%=currentBalance%>],
      ['Expense',    <%=totalExpenditure%>]
    ]);

    var options = {
      title: 'My Financial Details',
      is3D: true,
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
    chart.draw(data, options);
  }
</script>

<div class="container">
    <h1>Current Balance:<%=currentBalance%></h1>
    <h2>Initial Balance:<%=initialBalance%></h2>
    <h2>Total Expense: <%=totalExpenditure%></h2>

    <div id="piechart_3d" style="width: 900px; height: 500px;" class="my-3">


    </div>
    <div class="transaction-options text-center">
        <form action="/add" method="post">
            <select name="currency" class="form-control" id="" required>
                <option value="RS">Rupees</option>
            </select>
            <input type="text" name="amount" class="form-control" placeholder="Amount" required>
            <input type="text" name="date" class="form-control" placeholder="Date" required>
            <input type="text" name="desc" class="form-control" placeholder="Description" required>
            <input type="text" name="send" class="form-control" placeholder="Sender" required>
            <input type="text" name="recieve" class="form-control" placeholder="Reciever" required>
            <select name="payment" class="form-control" id="" required>
                <option value="UPI">UPI</option>
                <option value="NEFT">NEFT</option>
                <option value="IMPS">IMPS</option>
            </select>
            <button type="submit" class="btn btn-warning">Add Transaction</button>
        </form>
    </div>
    <div class="transactions container">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Currency</th>
                <th scope="col">Amount</th>
                <th scope="col">Date/Time</th>
                <th scope="col">Description</th>
                <th scope="col">Sender/Source</th>
                <th scope="col">Recipient/Destination</th>
                <th scope="col">Payment Method</th>
                <th scope="col">DELETE</th>

              </tr>
            </thead>
            <tbody>

                <% allTransactions.forEach((transaction) => { %>
                    <tr>
                        <th scope="row">1</th>
                        <td><%=transaction.id%></td>
                        <td><%=transaction.currency%></td>
                        <td><%=transaction.amount%></td>
                        <td><%=transaction.date%></td>
                        <td><%=transaction.description%></td>
                        <td><%=transaction.sender%></td>
                        <td><%=transaction.recipient%></td>
                        <td><%=transaction.paymentMethod%></td>
                        <td><form action="/delete" method="post"><input type="checkbox" name="deleteID" value="<%=transaction.id%>" onchange="this.form.submit()" class="btn btn-danger"></form></td>
                    </tr>
            <%  }); %>

            </tbody>
          </table>
    </div>
</div>


<%- include("./partials/footer.ejs") -%>
